<div class="show-left">
	<div class="user-profile">
		<h1>Your Profile Page</h1>

		<%= link_to 'Edit your profile', edit_user_path(@user) %>

		<p>First Name: <%= @user.first_name %></p>
		<p>Last Name: <%= @user.last_name %></p>
		<p>Email: <%= @user.email %></p>

		<h2>Your Projects</h2>
		<% if @user.projects.any? %>
			<% @user.projects.each do |project| %>
				<p>
					<a href='/projects/<%= project.id %>' ><%= project.name %></a> | <%= number_to_currency(project.total_raised) %>
				</p>
			<% end %>
		<% end %>

		<h2>Backed Projects</h2>
		<% if @user.backed_projects.any? %>
			<% @user.backed_projects.uniq.each do |project| %>
				<p><%= link_to project.name, project_path(project) %></p>
			<% end %>
			<h2>Rewards Earned</h2>
			<% @user.rewards.uniq.each do |reward| %>
				<p><%= reward.reward_name %> $<%= reward.tier_value %></p>
			<% end %>
		<% end %>
	</div>
</div>

<div class="show-right">
	<h2> Your Backer Trophy </h2><br/>
	<h3> Number of Project Backed </h3>
	<p> <%= @user.backed_projects.uniq.count %> </p>
	<h3> Total Amount Backed </h3>
	<p> <%= number_to_currency(@user.pledges.sum(:amount)) %> </p>
</div>