<div class="projects">
	<% @projects.each do |project| %>
		<div class="project">
			<%= image_tag project.project_image_url(:tiny), class: "project-img" if project.project_image %><br/>
			<%= link_to "#{project.name}", "/projects/#{project.id}" %><br />
			 <%= project.description %><br />
			 <%= project.funding_goal %><br />
			 <p> <%= project.time_left %> left!</p>
		</div>
	<% end %>
</div>