<h1>New project</h1>

<%= form_for(@project) do |f| %>
	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br/>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :funding_goal%><br/>
		<%= f.text_field :funding_goal %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
