<div class="show-left">
	<p id="funded"><%= @project.is_funded? %></p>
	<h1><%= @project.name %></h1>
	<% if current_user == @project.user %>
		<%= link_to "Edit your Project", edit_project_path(@project) %>
	<% else %>
		<p>Project owned by: <%= @project.user.first_name %> <%= @project.user.last_name %></p>
	<% end %>

	<div class="project-info">
		<%= image_tag @project.project_image_url(:thumb) if @project.project_image %><br/>
		<h2> Description </h2>
		<p> <%= @project.description %> </p>
		<h2> Funding Goal </h2>
		<p> $ <%= @project.funding_goal %> </p>
		<h2> Start Date </h2>
		<p> <%= @project.start_date %> </p>
		<h2> End Date </h2>
		<p> <%= @project.end_date %> </p>
	</div>

	<h2 id="total-raised">Total Raised to date: $<%= @project.total_raised %></h2>
	<p>Time left: <%= @time_left %></p>

	<h3>Comments</h3>
	<% if logged_in? %>
		<div id="review-list">
			<%= render @project.reviews %>
		</div>
		<div id="review-form">
			<%= render partial: 'reviews/form' %>
		</div>
	<% else %>
		<p>Please <%= link_to "log in", login_path %> to add a review.</p>
	<% end %>

</div>

<% if current_user %>
	<div class="show-right">
		<div class="reward_total">
			<h3>Your pledged amount for this project</h3>
			<p><%= number_to_currency(@user.pledges.where(reward: @project_rewards).sum(:amount)) %></p>
		</div>

		<div class="rewards">
			<h2>Rewards</h2>
			<%= render partial: 'rewards/reward', collection: @project.rewards.order(tier_value: :asc) %>
		</div>
	</div>
<% end %>