<%= link_to "Back to Index", "/projects" %> | <%= link_to "Edit", edit_project_path(@project) %>


<h1><%= @project.name %></h1>

<p>
	Name: <%= @project.name %><br/>
	<%= image_tag @project.project_image_url(:thumb) if @project.project_image %><br/>
	Description: <%= @project.description %><br/>
	Funding Goal: <%= @project.funding_goal %><br/>
	Start Date: <%= @project.start_date %><br/>
	End Date: <%= @project.end_date %><br/>
</p>

<h2>Total Raised to date: $<%= @total %></h2>
<p>Time left: <%= @time_left %></p>
<p><%= @project.is_funded? %></p>

<div class="rewards">
	<h2>Rewards for backing</h2>
	<%= render partial: 'rewards/reward', collection: @project.rewards.order(tier_value: :asc) %>
</div>

