<%= link_to "Back to Index", "/projects" %> | <%= link_to "Edit", edit_project_path(@project) %>


<h1><%= @project.name %></h1>

<p>
	Name: <%= @project.name %><br/>
	<%= image_tag @project.project_image_url(:thumb) if @project.project_image %><br/>
	Description: <%= @project.description %><br/>
	Funding Goal: <%= @project.funding_goal %><br/>
	Start Date: <%= @project.start_date %><br/>
	End Date: <%= @project.end_date %><br/>
</p>

<h2>Total Raised to date: $<%= @total %></h2>
<p>Time left: <%= @time_left %></p>
<p><%= @project.is_funded? %></p>

<div class="rewards">
	<h2>Rewards for backing</h2>
	<%= render partial: 'rewards/reward', collection: @project.rewards.order(tier_value: :asc) %>
</div>

<h3>Reviews</h3>

	<p>Reviews for <%= @project.name %></p>

	<% @project.reviews.each do |review| %>
		<p>
			<%= review.comment %>
			<br>
			<% if review.user != nil %>
				<em> by <%= review.user.first_name review.user.last_name %></em>
				Added on: <%= review.created_at %>
			<% end %>
		</p>
	<% end %>

	<% if current_user %>
		<h4>New Review</h4>

		<%= form_for([@project, @review]) do |f| %>
			<% if @review.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@review.errors.count, "error") %> prohibited review from being saved:</h2>

				<ul>
					<%@review.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %> 
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.label :comment %><br>
			<%= f.text_area :comment %>
		</div>
	<% end %>
	
<% else %>
	<p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>	


