<%= link_to "Back to Index", "/projects" %> | <%= link_to "Edit", edit_project_path(@project) %>


<h1>Project for <%= @project.name %></h1>

<p>
	Name: <%= @project.name %><br/>
	Description: <%= @project.description %><br/>
	Funding Goal: <%= @project.funding_goal %><br/>
	Start Date: <%= @project.start_date %><br/>
	End Date: <%= @project.end_date %><br/>
</p>

<div class="rewards">
	<%= render partial: 'rewards/reward', collection: @project.rewards.order(tier_value: :asc) %>
</div>

