<div class="show-left">
	<p id="funded"><%= @project.is_funded? %></p>
	<h1><%= @project.name %></h1>
	<% if current_user == @project.user %>
		<%= link_to "Edit your Project", edit_project_path(@project) %>
	<% else %>
		<p>Project owned by: <%= @project.user.first_name %> <%= @project.user.last_name %></p>
	<% end %>
	<p>
		<%= image_tag @project.project_image_url(:thumb) if @project.project_image %><br/>
		Description: <%= @project.description %><br/>
		Funding Goal: <%= @project.funding_goal %><br/>
		Start Date: <%= @project.start_date %><br/>
		End Date: <%= @project.end_date %><br/>
	</p>

	<h2 id="total-raised">Total Raised to date: $<%= @project.total_raised %></h2>
	<p>Time left: <%= @time_left %></p>

	<h3>Comments</h3>

	<p>Comments for <%= @project.name %></p>

	<% if logged_in? %>
		<h4>New Comment</h4>
		<div id="review-form">
			<%= render partial: 'reviews/form' %>
		</div>
	<% else %>
		<p>Please <%= link_to "log in", login_path %> to add a review.</p>
	<% end %>

	<div id="review-list">
		<%= render @project.reviews %>
	</div>
</div>

<div class="show-right">
	<div class="rewards">
		<h2>Rewards</h2>
		<%= render partial: 'rewards/reward', collection: @project.rewards.order(tier_value: :asc) %>
	</div>
</div>


