<%= link_to "Back to Index", "/projects" %> | <%= link_to "Edit", edit_project_path(@project) %>


<h1>Project for <%= @project.name %></h1>

<p>
	<%= @project.name %><br/>
	<%= @project.description %><br/>
	<%= @project.funding_goal %><br/>
	<%= @project.start_date %><br/>
	<%= @project.end_date %><br/>
</p>	
